.intro {
  background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 304px;
  min-height: 880px;
  background-position: center, center top;
  color: #f2f5f7;
  background-color: #041827;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/index-bg@2x.jpg");
  }

  @include vp-1023 {
    min-height: 640px;
    background-position: center, -130px top;
    padding-top: 165px;
  }

  @include vp-767 {
    min-height: 560px;
    background-position: center, -228px top;
    padding-top: 150px;
  }
}

.intro__container {
  padding-left: 225px;

  h1 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-size: 80px;
    line-height: 94px;
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0 0 40px;

    @include vp-1279 {
      font-size: 77px;
    }

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 8px;
    }
  }

  p {
    font-size: 22px;
    line-height: 34px;
    margin: 0 0 40px;

    @include vp-1023 {
      margin-bottom: 50px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 45px;

      br {
        display: none;
      }
    }
  }
}

.intro__button-desktop {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #00b2ff;
  border-radius: 3px;
  min-width: 410px;
  justify-content: center;
  color: #f2f5f7;

  @include vp-1023 {
    margin-left: 40px;
  }

  @include vp-767 {
    display: none;
  }
}

.intro__button-mobile {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #00b2ff;
  border-radius: 3px;
  max-width: 270px;
  width: 100%;
  justify-content: center;
  color: #f2f5f7;
  padding: 12px 30px;
  display: none;

  @include vp-767 {
    display: inline-flex;
  }
}
